<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cinedebarrio/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="icon" href="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Adminstrando Usuarios</title>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo"
         src="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es"
         class="rounded-circle">
    <a class="navbar-brand" href="{% url 'index' %}">Cine de Barrio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div id="perfil">
            <a class="link-ganso" href="{% url 'login' %}">
                <img id="icon-perfil" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"
                     class="rounded-circle">
            </a>
            {% if request.user.is_authenticated %}
            <label style="color: white;"> {{request.user}} </label>
            <a class="link-ganso" href="{% url 'logout' %}">Logout </a>
            {% else %}
            <a class="link-ganso" href="{% url 'login' %}"> Login </a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a class="link-ganso" href="{% url 'admin' %}"> | Panel de Administrador </a>
            {% endif %}

        </div>
        <form action="{% url 'search_film_user' %}" method="POST" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="input_search" type="search" placeholder="Buscar"
                   aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="container align-middle">
    <div class="col-md-8 mx-auto conteiner-edit">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre de Usuario</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users%}
            <tr>
                <td><label>{{ user }}</label></td>
                <td>
                    <form action="{% url 'edit' %}" method="POST" class="login100-form validate-form">
                        {% csrf_token %}
                        <div>
                            <button class="btn btn-success" style="width: 100%;"> Editar </button>
                            <input type='hidden' name="user" value="{{ user }}"/>
                        </div>

                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_users' %}" method="POST" class="login100-form validate-form">
                        {% csrf_token %}
                        <button class="btn btn-danger" style="width: 100%;"> Eliminar </button>
                        <input type='hidden' name="user" value="{{ user }}"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <form action="{% url 'admin' %}" method="GET">
            <button class="btn btn-secondary btn-lg" style="width:100%"> Atrás</button>
        </form>

    </div>
</div>

</body>
</html>