<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es" type="image/gif" sizes="16x16">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cinedebarrio/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Panel Administrador</title>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo"
         src="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es"
         class="rounded-circle">
    <a class="navbar-brand" href="{% url 'index' %}">Cine de Barrio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div id="perfil">
            <a class="link-ganso" href="{% url 'login' %}">
                <img id="icon-perfil" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"
                     class="rounded-circle">
            </a>
            {% if request.user.is_authenticated %}
            <label style="color: white;"> {{request.user}} </label>
            <a class="link-ganso" href="{% url 'logout' %}">Logout </a>
            {% else %}
            <a class="link-ganso" href="{% url 'login' %}"> Login </a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a class="link-ganso" href="{% url 'admin' %}"> | Panel de Administrador </a>
            {% endif %}

        </div>
        <form action="{% url 'search_film_user' %}" method="POST" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="input_search" type="search" placeholder="Buscar"
                   aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div id="jumbo" class="jumbotron text-center">
    <h1 style="font-family: 'Bangers', cursive;">Panel Administrador</h1>
</div>
<div id="conteiner-admin" class="container col-lg-4">
    <form action="{% url 'add' %}" method="GET">
        <button class="btn btn-success btn-lg"> Añadir Usuario </button>
    </form>
    <br>
    <form action="{% url 'admin_users' %}" method="GET">
        <button class="btn btn-primary btn-lg"> Editar Usuario </button>
    </form>
    <br>
    <form action="{% url 'search_film' %}" method="GET">
        <button class="btn btn-success btn-lg"> Añadir Película</button>
    </form>
    <br>
    <form action="{% url 'admin_films' %}" method="GET">
        <button class="btn btn-primary btn-lg"> Editar Película</button>
    </form>
    <br>
    <form action="{% url 'index' %}" method="GET">
        <button class="btn btn-secondary btn-lg"> Atrás </button>
    </form>
</div>

</body>
</html>