<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cinedebarrio/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="icon" href="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Editando {{ film.name}}</title>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo"
         src="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es"
         class="rounded-circle">
    <a class="navbar-brand" href="{% url 'index' %}">Cine de Barrio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div id="perfil">
            <a class="link-ganso" href="{% url 'login' %}">
                <img id="icon-perfil" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"
                     class="rounded-circle">
            </a>
            {% if request.user.is_authenticated %}
            <label style="color: white;"> {{request.user}} </label>
            <a class="link-ganso" href="{% url 'logout' %}">Logout </a>
            {% else %}
            <a class="link-ganso" href="{% url 'login' %}"> Login </a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a class="link-ganso" href="{% url 'admin' %}"> | Panel de Administrador </a>
            {% endif %}

        </div>
        <form action="{% url 'search_film_user' %}" method="POST" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="input_search" type="search" placeholder="Buscar"
                   aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="conteiner col-lg-12 align-middle">
    <div class="col-md-6 mx-auto conteiner-edit">
        <form action={% url 'edit_2' %} method="post" class="login100-form validate-form">
        {% csrf_token %}
            <div class="form-group">
                <h2 class="h2-propio" style="padding-left: 15px;"> Editar Pelicula </h2>
                <input type='hidden' name="name" value="{{ film.name }}"/>
            </div>

            <div class="form-group" style="text-align: center; border-bottom: dashed 2px;">
             <img class="img_film_show_style" style="width: 25%;" src="{{ film.poster }}"/>
            </div>

            <div class="form-group">
                <label>Título:</label>
                <input class="form-control" type="text" name="name_edit" value="{{ film.name }}">
            </div>

            <div class="form-group">
                <label>Url:</label>
                <input class="form-control" type="text" name="url" value="{{ film.url }}">
            </div>

            <div class="form-group">
                <label>Descripcción: </label>
                <input class="form-control" type="text" name="description" value="{{ film.description }}">
            </div>

            <div class="form-group">
                <label>Año: </label>
                <input class="form-control" type="text" name="year" value="{{ film.year }}">
            </div>

            <div class="form-group">
                <label>Director: </label>
                <input class="form-control" type="text" name="director" value="{{ film.director }}">
            </div>

            <div class="form-group">
                <label>Actores: </label>
                <input class="form-control" type="text" name="actors" value="{{ film.actors }}">
            </div>

            <div class="form-group">
                <label>Puntuación: </label>
                <input class="form-control" type="text" name="score" value="{{ film.score }}">
            </div>

            <div class="form-group">
                <label>Poster: </label>
                <input class="form-control" type="text" name="poster" value="{{ film.poster }}">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-lg" style="width:100%"> Editar Película </button>
            </div>
        </form>

        <form action="{% url 'admin_films' %}" method="GET">
            <button class="btn btn-secondary btn-lg" style="width:100%"> Atrás </button>
        </form>

    </div>
</div>
<footer class="footer">
    <p>Gandos Company</p>
</footer>
</body>
</html>