<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cinedebarrio/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="icon" href="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Editando {{ film.name}}</title>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo"
         src="https://vignette.wikia.nocookie.net/universosteven/images/2/2f/El_ganso_aprueba_esto_%28alta_calidad_4%29.png/revision/latest?cb=20160903030023&path-prefix=es"
         class="rounded-circle">
    <a class="navbar-brand" href="{% url 'index' %}">Cine de Barrio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div id="perfil">
            <a class="link-ganso" href="{% url 'login' %}">
                <img id="icon-perfil" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"
                     class="rounded-circle">
            </a>
            {% if request.user.is_authenticated %}
            <label style="color: white;"> {{request.user}} </label>
            <a class="link-ganso" href="{% url 'logout' %}">Logout </a>
            {% else %}
            <a class="link-ganso" href="{% url 'login' %}"> Login </a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a class="link-ganso" href="{% url 'admin' %}"> | Panel de Administrador </a>
            {% endif %}

        </div>
        <form action="{% url 'search_film_user' %}" method="POST" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="input_search" type="search" placeholder="Buscar"
                   aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="conteiner align-middle">
    <div class="col-md-6 mx-auto conteiner-edit">
        <form action={% url 'add_film' %} method="post" class="login100-form validate-form">
        {% csrf_token %}
            <h2 class="h2-propio" style="padding-left: 15px;">Añadir Automaticamente</h2>
            <div class="form-group">
                <label>Título:</label>
                <input id="film_search" class="form-control" name="film_search" type="text">
                <br>
                <button class="btn btn-primary btn-lg" style="width: 100%"> Añadir </button>
            </div>
        </form>
    </div>
</div>
<div class="conteiner align-middle">
    <div class="col-md-6 mx-auto conteiner-edit">
        <form action={% url 'add_film_manual' %} method="post" class="login100-form validate-form">
            {% csrf_token %}
                <h2 class="h2-propio" style="padding-left: 15px;">Añadir Película Manualmente</h2>
                <div class="form-group">
                    <label>Título:</label><label style="color: red;">(obligatorio)</label>
                    <input class="form-control" type="text" name="name">
                </div>

                <div class="form-group">
                    <label>URL:</label>
                    <input class="form-control" type="text" name="url">
                </div>

                <div class="form-group">
                    <label>Descripción:</label>
                    <input class="form-control" type="text" name="description">
                </div>

                <div class="form-group">
                    <label>Año:</label><label style="color: red;">(obligatorio)</label>
                    <input class="form-control" type="text" name="year">
                </div>

                <div class="form-group">
                    <label>Director:</label>
                    <input class="form-control" type="text" name="director">
                </div>

                <div class="form-group">
                    <label>Actores:</label>
                    <input class="form-control" type="text" name="actors">
                </div>

                <div class="form-group">
                    <label>Poster:</label>
                    <input class="form-control" type="text" name="poster">
                </div>

                <div class="form-group">
                    <label>Puntuación:</label><label style="color: red;">(obligatorio)</label>
                    <input class="form-control" type="text" name="score">
                </div>

            <button class="btn btn-primary btn-lg" style="width: 100%"> Añadir </button>
        </form>
    </div>
</div>

<div class="conteiner align-middle">
    <div class="col-md-6 mx-auto conteiner-edit">
        <form action="{% url 'admin' %}" method="GET">
            <button class="btn btn-secondary btn-lg" style="width:100%"> Atrás </button>
        </form>
    </div>
</div>

<footer class="footer">
    <p>Gandos Company</p>
</footer>
</body>
</html>